{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Detail</h1>

  <p class="">
    작성자 - 
    <a href="{% url 'accounts:profile' post.user.username %}">{{ post.user }}</a>
  </p>
  <p class="">
    제목 - 
    {{ post.title }}
  </p>

  {% comment %} post.likes {% endcomment %}

  <p>좋아요 수 - <span id="post-likescount">{{ post.like_users.count }}</span></p>
  <form id="post-likeform" data-post-id="{{ post.pk }}">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
      {% if request.user in post.like_users.all %}
        <input type="submit" value="좋아요 취소">
      {% else %}
        <input type="submit" value="좋아요">
      {% endif %}
    {% else %}
      <button disabled="disabled">좋아요</button>      
    {% endif %}
  </form>

  <div class="d-flex justify-content-center">

    <div class="d-flex flex-column">
      {% if post.select1_image %}
      <img src="{{ post.select1_image.url }}" alt="image" class="select-image">
      {% else %}
      <img src="{% static 'no-img.jpg' %}" alt="no image" class="select-image">
      {% endif %}
      <form action="{% url 'posts:answer' post.pk post.select1_content %}" method="post">
        {% csrf_token %}
        <button type="submit" class="container-fluid rounded-3"
        {% if request.user in post.select1_user.all or request.user in post.select2_user.all %}
          disabled="disabled"
        {% endif %}
        >{{ post.select1_content }} - {{ post.select1_user.all.count }}</button>
      </form>
    </div>
  
    <div class="d-flex flex-column">
      {% if post.select2_image %}
        <img src="{{ post.select2_image.url }}" alt="image" class="select-image">
      {% else %}
        <img src="{% static 'no-img.jpg' %}" alt="no image" class="select-image">
      {% endif %}
      <form action="{% url 'posts:answer' post.pk post.select2_content %}" method="post">
        {% csrf_token %}
        <button type="submit" class="container-fluid rounded-3"
        {% if request.user in post.select1_user.all or request.user in post.select2_user.all %}
          disabled="disabled"
        {% endif %}
        >{{ post.select2_content }} - {{ post.select2_user.all.count }}</button>
      </form>
    </div>

  </div>

  <hr>

  <form action="{% url 'posts:comment_create' post.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="댓글 작성">
  </form>

  <hr>

  {% for comment in comments %}

    <p>작성자 - {{ comment.user }} / 좋아요 수 - <span class="like-{{ comment.pk }}">{{ comment.like_users.count }}</span></p>

    <p id="comment-content-{{ comment.pk }}">{{ comment.content }}</p>

    {% if request.user.is_authenticated %}
      <form class="comment-likeform mb-2" id="commentlike-{{ comment.pk }}" data-comment-id="{{ comment.pk }}" data-post-id="{{ post.pk }}">
        {% csrf_token %}
        {% if request.user in comment.like_users.all %}
          <input type="submit" value="댓글 좋아요 취소">
        {% else %}
          <input type="submit" value="댓글 좋아요">
        {% endif %}
      </form>
    {% endif %}


    <div class="">
      {% if request.user == comment.user %}
        <div class="d-flex">
          <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="POST" class="me-3">
            {% csrf_token %}
            <input type="submit" value="댓글 삭제">
          </form>
          <input type="button" value="댓글 수정" class="comment-edit-btn" data-post-id="{{ post.pk }}" data-comment-id="{{ comment.pk }}">
        </div>
        <form class="comment-edit-form my-3" id="comment-edit-form-{{ comment.pk }}" data-post-id="{{ post.pk }}" data-comment-id="{{ comment.pk }}" hidden>
          {% csrf_token %}
          {{ comment_form.as_p }}
          <input type="submit" value="수정" class="update">
          <input type="button" value="취소" class="cancel" data-comment-id="{{ comment.pk }}">
        </form>
      {% endif %}
    </div>
    
    <hr>
  {% endfor %}
  <script>
    const postform = document.querySelector('#post-likeform')
    const commentforms = document.querySelectorAll('.comment-likeform')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    // Post 좋아요
    postform.addEventListener('submit', function (event) {
      event.preventDefault()
      const postId = event.target.dataset.postId
      axios({
        method: 'post',
        url: `/posts/${postId}/likes/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then((response) => {
          const isLiked = response.data.is_liked
          const postlikesCountTag = document.querySelector('#post-likescount')
          const postlikesCountData = response.data.likes_count
          const likeBtn = document.querySelector('#post-likeform > input[type=submit]')
          
          if (isLiked === true) {
            likeBtn.value = '좋아요 취소'
          } else {
            likeBtn.value = '좋아요'
          }
        
          postlikesCountTag.textContent = postlikesCountData
        })
        .catch((error) => {
          console.log(error.response)
        })
    })

    // Comment 좋아요
    commentforms.forEach((commentform) => {
      commentform.addEventListener('submit', function (event) {
        event.preventDefault()
        const commentId = event.target.dataset.commentId
        const postId = event.target.dataset.postId
        axios({
          method:'post',
          url:`/posts/${postId}/comments/${commentId}/likes/`,
          headers: {'X-CSRFToken': csrftoken},
        })
          .then((response) => {
            const isLiked = response.data.is_liked
            const commentLikesCountTag = document.querySelector(`.like-${commentId}`)
            const commentLikesCountData = response.data.likes_count
            const likeBtn = document.querySelector(`#commentlike-${commentId} > input[type=submit]`)
            
            if (isLiked) {
              likeBtn.value = "댓글 좋아요 취소"
            } else {
              likeBtn.value = "댓글 좋아요"
            }
            commentLikesCountTag.textContent = commentLikesCountData
          })
          .catch((error) => {
            console.log(error.response)
          })
      })

    })

    // 댓글 수정
    const commentUpdates = document.querySelectorAll('.comment-edit-btn')

    commentUpdates.forEach((comment) => {
      comment.addEventListener('click', (event) => {
        const commentId = event.target.dataset.commentId
        const commentUpdateDiv = document.querySelector(`#comment-edit-form-${commentId}`)
        const contentTextArea = document.querySelector(`#comment-edit-form-${commentId}>p>textarea`)
        commentUpdateDiv.hidden = false
        contentTextArea.textContent = document.querySelector(`#comment-content-${commentId}`).textContent
      })
    })
    
    const commentUpdateConfirms = document.querySelectorAll('.comment-edit-form')
    commentUpdateConfirms.forEach((updateBtn) => {
      updateBtn.addEventListener('submit', (event) => {
        event.preventDefault()
        const postId = event.target.dataset.postId
        const commentId = event.target.dataset.commentId
        const h1Tag = document.createElement('h1')
        const newText = document.querySelector(`#comment-edit-form-${commentId}>p>textarea`).textContent
        console.log(newText)
        axios({
          method:'post',
          url:`/posts/${postId}/comments/${commentId}/update/`,
          headers: {'X-CSRFToken': csrftoken},
          data: JSON.stringify(newText),
        })
          .then((response) => {
            const updateComment = response.data.content
            const test = response.data.test
            console.log(response.data)
          })
          .catch((error) => {
            console.log(error.response)
          })
      })
    })

    const commentUpdateCancels = document.querySelectorAll('.comment-edit-form>.cancel')
    commentUpdateCancels.forEach((cancelBtn) => {
      cancelBtn.addEventListener('click', (event) => {
        const commentId = event.target.dataset.commentId
        const commentUpdateForm = document.querySelector(`#comment-edit-form-${commentId}`)
        commentUpdateForm.hidden = true
      })
    })


  </script>
{% endblock content %}