{% extends 'base.html' %}
{% block content %}
  <h1>Detail</h1>

  <p class="">
    작성자 - 
    <a href="{% url 'accounts:profile' post.user.username %}">{{ post.user }}</a>
  </p>
  <p class="">
    제목 - 
    {{ post.title }}
  </p>
  <form action="{% url 'posts:answer' post.pk post.select1_content %}" method="post">
    {% csrf_token %}
    <button type="submit" class="">{{ post.select1_content }}-{{ post.select1_user.all.count }}</button>
  </form>
  <form action="{% url 'posts:answer' post.pk post.select2_content %}" method="post">
    {% csrf_token %}
    <button type="submit" class="">{{ post.select2_content }}-{{ post.select2_user.all.count }}</button>
  </form>
{% endblock content %}